:root {
	--font: 'Inter', Arial, Helvetica, sans-serif;

	--shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	--shadow-hover: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.25);
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Inter', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}